@{ 
    ViewBag.Title = "Confirm action";
}


<div class="list-group">
    <a asp-action="Index" asp-controller="Manage" class="list-group-item">
        Back To Manage Page
    </a>
    <a asp-action="Add" asp-controller="Trip" class="list-group-item">
        Go Back To Home Page
    </a>
    <a asp-action="Index" asp-controller="Home" class="list-group-item">
        Back To Home Page
    </a>
</div>