@model TripViewModel


<h1>Manage Destinations, Accommodations and Activities</h1>
<div class="row">
    <div class="col">
        <h3>Add</h3>
        <form method="post" asp-controller="Trip" asp-action="Manage">
            <div class="form-group">
                <label class="control-label" asp-for="DestinationString">Destination</label>
                <input class="form-control" asp-for="DestinationString" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AccommodationStringName">Accommodation Name</label>
                <input class="form-control" asp-for="AccommodationStringName" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AccommodationStringPhone">Accommodation Phone</label>
                <input class="form-control" asp-for="AccommodationStringPhone" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="AccommodationStringEmail">Accommodation Email</label>
                <input class="form-control" asp-for="AccommodationStringEmail" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ActivityString">Activity</label>
                <input class="form-control" asp-for="ActivityString" />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col">
        <h3>Delete</h3>
        <form method="post" asp-controller="Trip" asp-action="Delete">
            <div class="form-group">
                <label class="control-label">Destination</label>
                <select class="form-control" name="destination" asp-items="@(new SelectList(ViewBag.Destinations, "DestinationId", "DestinationName"))">Destination</select>
            </div>
            <div class="form-group">
                <label class="control-label">Accommodation</label>
                <select class="form-control" name="accommodation" asp-items="@(new SelectList(ViewBag.Accommodations, "AccommodationId", "AccommodationName"))">Accommodations</select>
            </div>
            <div class="form-group">
                <label class="control-label">Activity</label>
                <select class="form-control" name="activity" asp-items="@(new SelectList(ViewBag.Activities, "ActivityId", "ActivityName"))">Activities</select>
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>
