@model Trip;


<div class="container">
    <h1 class="text-center">Add Trip Destination and Dates</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Trip" asp-action="Add2" method="post">
        <div class="form-group">
            <label asp-for="DestinationId" class="control-label">Destination</label>
            <select class="form-control" asp-for="DestinationId" asp-items="@(new SelectList(ViewBag.Destinations, "DestinationId", "DestinationName"))"></select>
            <p><a asp-controller="Trip" asp-action="Manage">Manage Destinations</a></p>
        </div>
        <div class="form-group">
            <label asp-for="AccommodationId" class="control-label">Accomodation</label>
            <select class="form-control" asp-for="AccommodationId" asp-items="@(new SelectList(ViewBag.Accommodations, "AccommodationId", "AccommodationName"))"></select>
            <p><a asp-controller="Trip" asp-action="Manage">Manage Accommodations</a></p>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label">Start Date</label>
            <input asp-for="StartDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label">End Date</label>
            <input asp-for="EndDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-dark bg-dark text-white">Next</button>
        <a asp-controller="Home" asp-action="Clear" class="btn-light text-dark">Cancel</a>
    </form>
</div>
